* {
  font-family: "Montserrat", sans-serif;
  background-color: transparent;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #222831;
  background-image: url("images/always-grey.png");
}
hr {
  width: 40%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #00adb5;
  margin: 5px 0;
  box-shadow: 1px 1px 30px 2px #00adb5;
}
body h1 {
  text-align: center;
  margin: 30px 0;
  font-weight: bold;
  font-size: 35px;
  letter-spacing: 5px;
  color: #eeeeee;
}
body h1 span i {
  font-size: 30px;
}
.main-content {
  margin: 80px 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
#left {
  flex-basis: 40%;
  display: block;
  margin: 0 20px;
  width: auto;
}
#left form {
  width: auto;
  display: block;
}
.toggle-dark-light {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px auto 0;
  width: 100%;
}
.toggle-dark-light h4 {
  color: #00adb5;
  font-weight: 100;
}
.switch input {
  opacity: 0;
  height: 0;
  width: 0;
}
.switch {
  display: inline-block;
  height: 100%;
  width: 80px;
  position: relative;
}
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 30px;
  transition: 0.5s ease;
  background: #222831;
  cursor: pointer;
  box-shadow: 0 0 15px #00adb5;
}
.slider:before {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translate(0, -50%);
  content: "";
  height: 80%;
  width: 35px;
  border-radius: 50%;
  box-shadow: inset 0 0 15px 15px #eeeeee;
  transition: 0.5s ease;
}
input:checked + .slider {
  background: #eeeeee;
}
input:checked + .slider:before {
  box-shadow: inset -8px -4px 1px 4px #222831;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translate(100%, -50%);
}
.main-content label {
  font-size: 20px;
  font-weight: 500;
  color: #00adb5;
  padding: 10px;
}
.main-content label span {
  color: crimson;
  font-size: 15px;
}
.form-points {
  width: 100%;
  padding: 10px;
}
.form-points label {
  font-size: 20px;
  font-weight: 500;
  color: #00adb5;
  background-color: transparent;
}
#dp-remove {
  cursor: pointer;
}
#social-remove {
  cursor: pointer;
}
.form-points ul {
  list-style: none;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}
.form-points ul li {
  height: 40px;
  position: relative;
}
.tooltip {
  padding: 8px;
  color: #eeeeee;
  background-color: #393e46;
  font-size: 15px;
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -115%);
  border-radius: 5px;
  border: 1px solid #00adb5;
}
.hover-active {
  display: block;
}
.click-inactive {
  transform: scale(1);
  filter: blur(3px);
}
.click-active {
  transform: scale(1.2);
  filter: blur(0);
}
.social-icon {
  height: 100%;
  cursor: pointer;
  transition: 0.1s ease;
}
.form-points input,
.form-points textarea {
  width: 100%;
  border: 2px solid #eeeeee;
  background: #393e46;
  padding: 15px;
  color: #eeeeee;
  font-size: 18px;
  border-radius: 10px;
  margin-top: 10px;
  display: inline;
}
.form-points textarea {
  resize: none;
}
#download-btn {
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  background-color: #00adb5;
  color: #393e46;
  border: 1px solid #00adb5;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease;
}
#download-btn:hover {
  background-color: transparent;
  color: #00adb5;
}
#right {
  display: block;
  background-image: linear-gradient(
    to bottom right,
    rgb(220, 220, 220),
    rgb(130, 130, 130)
  );
  margin: auto 20px;
  resize: both;
  padding: 20px;
  transition: 0.5s ease;
}
.right-dark-mode {
  background-image: linear-gradient(
    to bottom right,
    rgb(110, 110, 110),
    rgb(20, 20, 20)
  );
}
#card {
  width: 450px;
  resize: both;
  background-color: #eeeeee;
  color: #222831;
  border-radius: 10px;
  border-top: 10px solid #222831;
  border-bottom: 10px solid #222831;
  box-shadow: 10px 10px 10px rgb(130, 130, 130);
  /* dark: box-shadow: 10px 10px 10px rgb(20, 20, 20); */
  transition: 0.5s ease;
}
.card-dark-mode {
  background-color: #222831;
  color: #eeeeee;
}
.card-credentials {
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  padding: 4% 4% 3%;
}
.left-credentials {
  display: flex;
  background-color: transparent;
  height: 100%;
}
#dp {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 1px 1px 5px #222831;
  /* dark: box-shadow: 1px 1px 5px #eeeeee; */
  transition: 0.5s ease;
}
.name-username {
  height: 50px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  margin: auto 0 auto 12px;
  justify-content: center;
}
.name-username h3 {
  background-color: transparent;
  font-size: 20px;
}
.name-username p {
  background-color: transparent;
  font-size: 14px;
  font-weight: 400;
}
.name-username p span {
  background-color: transparent;
  margin-left: 1.5px;
}
.right-credentials {
  height: 50px;
  background-color: transparent;
  transition: 0.5s ease;
}
#social-platform {
  height: 100%;
  background-color: transparent;
  transition: 0.5s ease;
}
.card-content {
  background-color: transparent;
  padding: 0 4% 4%;
}
.card-content p {
  background-color: transparent;
  font-size: 18px;
  padding: 0 2%;
  text-align: justify;
  font-weight: 100;
}
.footer {
  background-color: #393e46;
  padding: 35px;
  text-align: center;
  color: white;
  font-size: 18px;
}
.footer p{
  background-color: transparent;
  font-weight: 500;
}
.footer p i{
  background-color: transparent;
}
.footer span {
  color: #00adb5;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background: #00adb5;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00adb550;
  width: 10px;
}

/************************* media query ***************************/

@media (max-width: 1350px) {
  #left {
    flex-basis: 50%;
  }
}
@media (max-width: 1100px) {
  .main-content {
    flex-direction: column-reverse;
  }
  #right {
    width: fit-content;
    display: flex;
    margin: 10px auto;
  }
  #download-btn {
    display: flex;
    margin: 10px auto;
  }
}
@media (max-width: 600px) {
  #right {
    width: 90%;
    min-width: 300px;
    height: auto;
    display: flex;
    margin: 10px auto;
  }
  #card {
    width: 100%;
  }
  .form-points ul {
    display: block;
  }
  .form-points ul li {
    width: fit-content;
    display: inline-flex;
    margin: 10px;
  }
}
@media only screen and (max-width: 500px) {
  #left {
    display: block;
    margin: 0;
    width: auto;
  }
  #left form {
    width: auto;
    display: block;
  }
  .name-username h3 {
    font-size: 18px;
  }
  .name-username p {
    font-size: 12px;
  }
  .name-username {
    height: 40px;
  }
  #dp {
    height: 40px;
    width: 40px;
  }
  .right-credentials {
    height: 40px;
    width: 40px;
  }
  .card-content p {
    font-size: 16px;
    text-align: left;
  }
}
@media only screen and (max-width: 400px) {
  .name-username h3 {
    font-size: 16px;
  }
  .name-username p {
    font-size: 10px;
  }
  .name-username {
    height: 30px;
  }
  #dp {
    height: 30px;
    width: 30px;
  }
  .right-credentials {
    height: 30px;
    width: 30px;
  }
  .card-content p {
    font-size: 14px;
  }
}
